.presentes {
  background-color: #fff;
  margin-top: 30px;
}

.title-categorias {
  color: #000;
  font-family: "poppins", sans-serif;
  font-size: clamp(20px, 2.5vw, 50px);
  font-weight: 400;
  padding: 10px 0 20px;
}
.title-categorias strong {
  color: #c4388d;
  font-weight: 700;
  font-family: "Playfair", serif;
  font-style: italic;
  font-size: clamp(30px, 3vw, 50px);
}

.align-cards {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 2vw;
}

.img-card {
  height: auto;
  padding: 10px;
  background-color: #e6b3d9;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}

.card h3 {
  font-size: clamp(10px, 2.5vw, 20px);
  padding: 5px;
  text-align: center;
  color: #8a315c;
}

@media screen and (max-width: 1024px) {
  .img-card {
    height: auto;
    padding: 10px;
    background-color: #e6b3d9;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .card {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .card h3 {
    font-size: clamp(10px, 2.5vw, 25px);
    padding: 5px;
    text-align: center;
    color: #8a315c;
  }

  .align-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
  }
}
