@import url(./header.css);
@import url(./reset.css);
@import url(./hero.css);
@import url(./footer.css);
@import url(./catalogo.css);
@import url(./categorias.css);
@import url(./tabs.css);
@import url(./apresentacao.css);
@import url(./visitados.css);
@import url(./novidades.css);
@font-face {
  font-family: "Neulis";
  src: url("../fonts/neulis-regular.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #8a315c;
  color: #ffffff;
  font-family: "Neulis";
}

h2 {
  margin: 0;
  font-family: "Neulis";
}
h3 {
  margin: 0;
}
p {
  margin: 0;
  font-family: "Neulis";
}

.animar {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
}

.animar.ativo {
  opacity: 1;
  transform: translateY(0);
}

:root {
  --background-primary-color: #8a315c;
  --background-secondary-color: #c4388d;
  --background-tertiary-color: #cc71a4;
  --background-quaternary-color: #e6b3d9;
  --background-quinaria-color: #ffd2e7;
  --background-sixnaria-color: #ffffff;
  --title-color: #efeecc;
  --text-secundary-color: #d8c27a;
}
