.novidades {
  background-color: #8a315c;
  position: relative;
  overflow: hidden;
}

.align-novidades {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.novidade-exclusivo {
  font-family: "poppins", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 16px;
}

.novidade-titulo {
  font-size: clamp(16px, 7vw, 45px);
  color: #d8c27a;
}
.novidade-titulo strong {
  font-size: clamp(16px, 8vw, 55px);
  color: #d8c27a;
  font-family: "Playfair", serif;
  font-style: italic;
}
.novidade-titulo1 {
  font-size: clamp(16px, 1.3rem, 1.6rem);
  color: #d8c27a;
}
.novidade-titulo1 strong {
  font-size: clamp(16px, 1.8rem, 2rem);
  color: #d8c27a;
  font-family: "Playfair", serif;
  font-style: italic;
}

.redes-sociais-texto p {
  font-family: "poppins", sans-serif;
}

.novidade-texto {
  font-family: "poppins", sans-serif;
  max-width: clamp(250px, 80%, 700px);
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.btn-novidades {
  padding: 20px;
  border-radius: 30px;
  font-size: clamp(15px, 2vh, 30px);
  cursor: pointer;
  text-decoration: none;
  color: #8a315c;
  background-color: #fff;
  border: none;
}

.btn-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.grupo-whatsapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  width: 70%;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.btn-novidades:hover {
  transform: translateY(-5px);
  background-color: #cc71a4;
  color: #fff;
  transition: 0.3s ease;
}

.fa-star {
  color: #d8c27a;
  margin-right: 5px;
}

.circulo {
  position: absolute;
  border-radius: 50%;
  background: #c4388d;
  filter: blur(80px);
  z-index: -1;
}

.c1 {
  width: 500px;
  height: 500px;
  top: -130px;
  left: -160px;
}

.c2 {
  width: 500px;
  height: 500px;
  bottom: -180px;
  right: -150px;
}

.circle-foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 4px;

  background: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-rede-social {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: white;
  padding: 3px;
}

@media screen and (max-width: 1024px) {
  .align-novidades {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 55px;
  }

  .grupo-whatsapp {
    width: 100%;
  }
}
