.align-visitados {
  padding-top: 5vw;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 80px;
}

.align-visitados h2 {
  padding: 10px 0 0;
}

.lista-visitados {
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 250px));
  align-items: center;
  list-style: none;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  gap: 20px;
}

.visitados-titulo {
  color: #000;
  font-family: "poppins", sans-serif;
  font-size: clamp(20px, 2.5vw, 50px);
  font-weight: 400;
}

.visitados-texto {
  padding: 20px 0 0;
  letter-spacing: 1.5px;
  color: #0000009a;
}
.visitados-titulo strong {
  color: #c4388d;
  font-weight: 700;
  font-family: "Playfair", serif;
  font-style: italic;
  font-size: clamp(30px, 3vw, 50px);
}

.link-visitados {
  padding: 30px 50px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0.1, 0.1, 0.1, 0.1);
  text-decoration: none;
  color: #0000009a;
  border-radius: 5px;
  transition: transform 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0;
  width: 200px;
  height: 145px;
}

.link-visitados:hover {
  transform: translateY(-5px);
  filter: brightness(0.9);
}

.itens-visitados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
}

.gif {
  width: 50px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-visitados {
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .lista-visitados {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 250px));
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
    border-radius: 8px;
  }
}
