.align-visitados {
  margin-top: 30px;
  background-color: #fff;
}

.align-visitados h2 {
  color: #8a315c;
  padding: 10px;
}

.lista-visitados {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
  background-color: #fff;
  padding: 20px;
}

.itens-visitados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px 0;
}

.gif {
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-visitados {
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .lista-visitados {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    justify-content: center;
    gap: 10px;
    margin: 0 10px;
    border-radius: 8px;
  }
}
